.heading
{
font-size: 23px;
margin: 0px;
color: black;
margin: 10px;
}

.heading:hover{
    color: white;
}

.link {
    font-size: 25px;
    background: white;
    border-radius: 10px;
    width: 300px;
    margin-top: 15px;
    list-style: none;
}